/* Enter your custom styles here */
.preencherBoxPreto{
    background-color: black;
}
.corTextoBranco{
    color: white;
}

.espacoRodape{
    margin-bottom: 5px;
    margin-left: 5px;
}
.tituloIMG{

}
.margemLogo{
    position: relative;
    top: -60px;
    }
    